.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

body {
  font-family: "Oswald", Helvetica, sans-serif;
  padding: 11px;
  background: #777;
}

input, select {
  font-family: "Didact Gothic", Helvetica, sans-serif;
}

.label {
  font-family: "Didact Gothic", Helvetica, sans-serif;
  display: inline-block;
  width: 107px;
  font-size: 12px;
  text-transform: uppercase;
}

.label2 {
  font-family: "Didact Gothic", Helvetica, sans-serif;
  display: inline-block;
  width: 117px;
  margin-left: 17px;
  font-size: 12px;
}


#container {
  width: 1224px;
  margin: 0 auto;
  background: #ededed;
  border: 1px outset #777;
  box-sizing: border-box;
  padding: 17px;
  box-shadow: 10px 10px 5px #888888;
}

#loader {
  display: none;
}

#result {
  width: 50%;
  background: #fff;
  padding: 5px 7px;
}
